* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  background-image: url("https://plus.unsplash.com/premium_photo-1679865883308-850a9993b443?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dHJhaW4lMjBzdGF0aW9ufGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper {
  justify-self: center;
  text-align: center;
  width: 20em;
  height: 15em;
  margin-top: 10em;
  color: aliceblue;
}

button {
    width: 10em;
    height: 3em;

}
.increasebtn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5em;
}
 #increment {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5em;
   
 }

