body {
  height: 100%;
  margin: 0;
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/peony-flower-67ab7733b0f8a.jpg?crop=1xw:0.421875xh;0.0353xw,0.141xh&resize=1200:*);
  background-color: blueviolet;
  justify-content: center;
  display: flex;
}

.query {
  display: flex;
  margin-top: 300px;
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
}

.query input {
  margin-top: 25px;
}

button {
  margin-top: 50px;
}
