.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 3px solid black; */
  padding: 10px;
}

.img {
  width: 70px;
  cursor: pointer;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-family: cursive;
  font-weight: 500;
  margin-left: 30px;
}

.btn1 {
  border: none;
  font-size: 17px;
  color: aqua;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.btn2 {
  background-color: rgb(23, 44, 139);
  color: aliceblue;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  margin-left: 12px;
  cursor: pointer;
}

.btn2:hover {
  background-color:rgba(23, 44, 139,0.5 ) ; 
}